@model AdminDashboardView

<h1>Admin Dashboard</h1>

<div class="card">
    <div class="card-header">
        <h2>Genel Durum</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-info text-white">
                    <div class="card-body">
                        <h4>Toplam Kullanıcılar</h4>
                        <p class="display-4">@Model.TotalUsers</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-success text-white">
                    <div class="card-body">
                        <h4>Toplam Randevular</h4>
                        <p class="display-4">@Model.TotalRandevu</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-warning text-white">
                    <div class="card-body">
                        <h4>Toplam Çalışanlar</h4>
                        <p class="display-4">@Model.TotalCalisanlar</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
