@{
    ViewData["Title"] = "Erişim Engellendi";
}

<h1>Erişim Engellendi</h1>
<p>Bu sayfaya erişim yetkiniz yok. Lütfen sistem yöneticinizle iletişime geçin.</p>

<a href="/" class="btn btn-primary">Ana Sayfa</a>
