@{
    ViewData["Title"] = "Çıkış Yap";
}

<h1>Çıkış Yap</h1>

<form asp-action="Logout" method="post">
    <button type="submit" class="btn btn-primary">Çıkış Yap</button>
</form>

<a href="/Home/Index" class="btn btn-secondary">Ana Sayfa</a>

