@model List<Islem>

<h1>İşlem Listesi</h1>
<a href="/Islem/IslemCreate" class="btn btn-primary">Yeni İşlem Oluştur</a>

<table class="table">
    <thead>
        <tr>
            <th>İşlem Adı</th>
            <th>Ücret</th>
            <th>Süre</th>
            <th>Çalışan</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var islem in Model)
        {
            <tr>
                <td>@islem.IslemAdi</td>
                <td>@islem.IslemUcreti</td>
                <td>@islem.IslemSuresi dakika</td>
                <td>@islem.Calisan?.CalisanAd</td>
                <td>
                    <a href="/Islem/IslemDetay/@islem.IslemID" class="btn btn-info">Detay</a>
                    <a href="/Islem/IslemDuzenle/@islem.IslemID" class="btn btn-warning">Düzenle</a>
                    <a href="/Islem/IslemSil/@islem.IslemID" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

