
<h1>Kuaförlerimizde Hizmet Alabileceğiniz Başlıca İşlemler</h1>

<table class="table table-bordered">

    <tbody>
        <tr>
            <td class="text-center"><img src="~/image/kaynaksac.jpg" alt="Kaynak Saç Ekleme" class="img-fluid" /></td>
            <td class="text-center"><img src="~/image/tırnak.jpg" alt="Manikür/Pedikür" class="img-fluid" /></td>
            <td class="text-center"><img src="~/image/Lif.jpg" alt="Kirpik Lifting" class="img-fluid" /></td>
        </tr>
        <tr>
            <td class="text-center"><img src="~/image/sackesimi.jpg" alt="Saç Kesimi" class="img-fluid" /></td>
            <td class="text-center"><img src="~/image/sacboyama.jpg" alt="Saç Boyama" class="img-fluid" /></td>
            <td class="text-center"><img src="~/image/Brows.jpg" alt="Kaş Alımı" class="img-fluid" /></td>
        </tr>
    </tbody>
</table>
