﻿@{
    ViewData["Title"] = "Ana Sayfa";
}


<div class="container text-center" style="height: 100vh;">
    <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
        <div>
            <h1 class="display-4 mb-4">HOŞGELDİNİZ</h1>
            <img src="~/image/FOTO.jpg" alt="" class="img-fluid rounded" style="max-width: 300px;" />
        </div>
    </div>
</div> 