@model SalonYonetimUygulamasi.Models.Salon

@{
	ViewData["Title"] = "Salon Ekleme Sayfası";

}


<h3 style="color:rebeccapurple"> @TempData["mesaj"]</h3>

<h4>Salon</h4>


<hr/>
<div class="row">
	<div class="col-md-4">
		<form asp-action="SalonEkle">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	
			<div class="form-group">
				<label asp-for="SalonAd" class="control-label"></label>
				<input asp-for="SalonAd" class="form-control" />
				<span asp-validation-for="SalonAd" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SalonAdres" class="control-label"></label>
				<input asp-for="SalonAdres" class="form-control" />
				<span asp-validation-for="SalonAdres" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SalonTelefon" class="control-label"></label>
				<input asp-for="SalonTelefon" class="form-control" />
				<span asp-validation-for="SalonTelefon" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Kaydet" class="btn btn-primary"/>
			</div>
</form>
	</div>
</div>
<div>
	<a asp-action="Index">Tüm Salonlar</a>
</div>

@section Scripts{
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}



