@{
    ViewData["Title"] = "Profilim";
}

<h1>Profilim</h1>
<p>Kullanıcı bilgilerinizi burada görüntüleyebilirsiniz.</p>

<div class="card">
    <div class="card-header bg-info text-white">
        <h4>Profil Bilgileri</h4>
    </div>
    <div class="card-body">
        <form method="post" action="/Uye/ProfilGuncelle">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="Email" name="Email" value="@User.Identity.Name" readonly>
            </div>
            <div class="form-group">
                <label for="Telefon">Telefon</label>
                <input type="text" class="form-control" id="Telefon" name="Telefon" placeholder="5458230242">
            </div>
           
        </form>
    </div>
</div>
