@model List<Randevu>


<h1>Randevularım</h1>

@if (!Model.Any())
{
    <p>Henüz bir randevunuz yok.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Tarih</th>
                <th>Saat</th>
                <th>İşlem</th>
                <th>Çalışan</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var randevu in Model)
            {
                <tr>
                    <td>@randevu.Tarih.ToShortDateString()</td>
                    <td>@randevu.Tarih.ToShortTimeString()</td>
                    <td>@randevu.Islem</td>
                    <td>@randevu.Calisan.CalisanAd</td>
                </tr>
            }
        </tbody>
    </table>
}

<a href="/Randevu/RandevuCreate" class="btn btn-primary">Yeni Randevu Al</a>